accelerate>=0.33.0
git+https://github.com/huggingface/accelerate
hf_transfer==0.1.8
huggingface-hub==0.26.2
numpy==1.26.4
opencv-python==4.10.0.84
pandas
pillow==11.0.0
sympy==1.13.1
tokenizers==0.20.3
torch==2.5.1
tqdm==4.67.0
traitlets==5.14.3
transformers==4.46.3